{% extends "layout.html" %}

{% block content %}
<style>
      header, .main, footer{
          width: 99%;
          margin: 1% auto;
      }
      
      header nav {
          overflow: hidden;
          -moz-border-radius: 20px / 10px;
          -webkit-border-radius: 20px / 10px;
          border-radius: 20px / 10px;
          -moz-box-shadow: rgb(150,150,150) 5px 5px;
          -webkit-box-shadow: rgb(150,150,150) 5px 5px;
          box-shadow: rgb(150,150,150) 5px 5px 10px inset;
      }
      
      header nav ul {
          list-style: none;
      }
      header nav ul li{
          float: left;
      }
      header nav ul li a{
          padding: 10px 20px;
          display:block;
          color:black;
          text-decoration: none;
      
      }
      .main .articles{
          width:100%;
          right: 30%;
          margin-right: 1.5%;
          float:left;
      }
      .main .articles article{
          padding: 10%;
          margin-bottom: 20px;
          color: black;
      }
      </style>
<h1>
    <CENTER> <b> ¡Contactanos! </b> </CENTER>
      
</h1>
   <br>
   <br>
   <br>
<form action="/agrega_comenta" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre de Usuario</label>
                      <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre">
                </div>
                <div class="mb-3">
                      <label for="Correo" class="form-label">e-mail</label>
                      <input type="text" class="form-control" name="Correo" id="Correo" placeholder="ingresa tu Correo"></input>
                </div>
                <div class="mb-3">
                  <label for="Telefono" class="form-label">Numero de telefono</label>
                  <input type="text" class="form-control" name="Telefono" id="Telefono" placeholder="ingresa tu Telefono"></input>
                </div>
                  <div class="mb-3">
                        <label for="Direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" name="Direccion" id="Direccion" placeholder="ingresa tu Direccion">
                  </div>
                  <div class="mb-3">
                              <label for="Ocacion" class="form-label">Tipo de Ocacion</label>
                              <input type="text" class="form-control" name="Ocacion" id="Ocacion" placeholder="Para que ocacion ocupas la piñata??">
                        </div>
                  </div>
            </div>
                </div>
          </div>
    </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}