{% extends "layout.html" %}
{% block content %}
<style>
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(static/images/SP.jpg);
    width: 100%;
    color: black;
    font-family:"Arial";
}
header, .main, footer{
    width: 99%;
    margin: 1% auto;
}

header nav {
    overflow: hidden;
    -moz-border-radius: 20px / 10px;
    -webkit-border-radius: 20px / 10px;
    border-radius: 20px / 10px;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;
}

header nav ul {
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display:block;
    color:white;
    text-decoration: none;

}
header nav ul li a:hover{
}
.main .articles{
    width:100%;
    right: 30%;
    margin-right: 1.5%;
    float:left;
}
</style>
    <title>Contacto</title>
    <FORM ACTION= "mailito: julian290@gmail.com"
     METHOD="POST" ENCTYPE="TEXT/PLAIN"></FORM>
        <FORM>
        NOMBRE: <INPUT TYPE="text"NAME="nombre" SIZE="40" MAXLENGTH=“40”>
        <BR>
        <BR>
        CORREO ELECTRONICO: <INPUT TYPE="text"NAME="correo" SIZE="50">
        <BR>
        <BR>
        NUMERO DE TELEFONO: <INPUT TYPE="text"NAME="telefono" SIZE="10" MAXLENGTH=“10”>
        <BR>
        <BR>
        ¿EN QUE LE PODEMOS AYUDAR? <INPUT TYPE="text"NAME="ayuda" SIZE="100">
        <BR>
        <BR>
        <INPUT TYPE="SUBMIT" VALUE="ENVIAR">
        <INPUT TYPE="RESET" VALUE="BORRAR">
        </FORM>
        <BR>
        <Table BORDER="2">
            <TR>
               <TD>TIPO DE CONTACTO</TD>
               <TD>VINCULO</TD>
            </TR>
            <TR>
               <TD>Correo electronico</TD>
               <TD><A HREF=”https://www.mazdlac77@gmail.com”>Correo</A></TD>
            </TR>
            <TR>
               <TD>Facebook</TD>
               <TD><A HREF=”https://www.facebook.com/mis-piñatas”>Facebook</A></TD>
            </TR>
            <TR>
               <TD>Páginas relacionadas</TD>
               <TD><A HREF=”https://www.youtube.com/watch?v=o8qz-kQSQAs”>youtube</A></TD>
            </TR>
            <TR>
               <TD>Telefono</TD>
               <TD>4497908123</TD>
            </TR>
        </Table>
        <BR>
        <BR>Se solicita empleados, mas informacion al numero que aparece arriba
        <BR>
        <BR>
        Nos encontramos en Maria Teresa Llamas, Fraccionamiento Fundadores
        <BR>
        <BR><iframe src=https://www.google.com/searchq=maria+teresa+llamas+ags&oq=maria+teresa+llamas+ags&aqs=chrome..69i57.17925j0j7&sourceid=chrome&ie=UTF-8#>
        <BR>
        </iframe>
{% endblock %}