{% extends "layout.html" %}

{% block content %}
<style>
*{
margin: 0;
padding: 0;
}
body {
    background-image: url(static/images/f6.jpg);
    image: no-repeat;
    color: rgb(255, 255, 255);
    font-family:"Arial"
}

header, .main, footer{
    width: 99%;
    margin: 1% auto;
    background: skyblue;
}

header nav {
    overflow: hidden;
    -moz-border-radius: 20px / 10px;
    -webkit-border-radius: 20px / 10px;
    border-radius: 20px / 10px;
    -moz-box-shadow: rgb(255, 255, 255) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;
}

header nav ul {
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display:block;
    color:black;
    text-decoration: none;

}

.main .articles{
    width:100%;
    right: 30%;
    margin-right: 1.5%;
    float:left;
}
.main .articles article{
    padding: 10%;
    margin-bottom: 20px;
    color: black;
}
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
    <div class="col-12" style="background-color: rgb(223, 2, 2); border-radius: 2cm;">
    <h2><b>LAS MEJORES PIÑATAS SOLO AQUI</b></h2>
                        <br><b>
                        Te brindamos un servicio de calidad con las mejores piñatas.
                    </b><br>
</div>
</center>
{% endblock %}