{% extends "layout.html" %}
{% block content %}
<style>
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(static/images/f11.jpg);
    background-repeat: no-repeat;
    color: white;
    font-family:"Arial";
}
header, .main, footer{
    width: 99%;
    margin: 1% auto;
    background: grey;
}

header nav {
    overflow: hidden;
    -moz-border-radius: 20px / 10px;
    -webkit-border-radius: 20px / 10px;
    border-radius: 20px / 10px;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;
}

header nav ul {
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display:block;
    color:white;
    text-decoration: none;

}

.main .articles{
    width:100%;
    right: 30%;
    margin-right: 1.5%;
    float:left;
}
</style>
    <title>Acerca de</title>
            <P>En este negocio se pretende brindar a los clientes nuestras piñatas para el uso de estas mismas en diversos casos como fiestas de cumpleaños para niños u otra(s) fechas o casos. Se pretende dar nuestro producto en buen estado, buena calidad, que sea conforme lo quiera el cliente y que se le entregue al cliente en tiempo y forma. Gracias por ser de su agrado y que tenga un exelente dia.</P>
{% endblock %}